* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(204, 204, 200);
  text-align: center;
  line-height: 0;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  border: 5px solid white;
}

.thumbnail {
  display: flex;
  flex-wrap: wrap;
}

.thumb {
  width: 200px;
  border: 2px solid white;
  box-sizing: border-box;
}

.thumb:hover {
  opacity: 50%;
  cursor: pointer;
}

.active {
  opacity: 50%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation: fadeIn 0.5s;
}
